.DS_Store
sketchy-schematics/.user/Metadata/Workspace.user.xml
sketchy-schematics/.unsaved/.user/Metadata/Workspace.user.xml
sketchy-schematics/.unsaved/.user/Metadata/Mixer.user.xml
sketchy-schematics/.unsaved/.user/Metadata/Asset/{82f59267-0911-4f8b-923f-20601fbdffc3}.user.xml
sketchy-schematics/.user/Metadata/Workspace.user.xml
sketchy-schematics/.user/Metadata/Workspace.user.xml
